@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  text-align: center;
  font-family: "Poppins";
  color: rgba(0, 0, 0, 0.7);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-container{
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
}

.todo-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.todo-form input{
  outline: none;
  border: none;
  width: 85%;
  padding: 5px;
  margin: 0 10px;
}
.todo-form button{
  background: transparent;
  width: 15%;
  border: none;
  font-size: 30px;
  outline: none;
}

.todo-list{
  margin: 10px 0;
}

.todo-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 1px 1px #ddd;
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px;
  word-break: break-all;
}

.completed{
  text-decoration: line-through;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.4);
}

.checked{
  color: green;

}

.task{
  max-width: 85%;
}

.task-option{
  margin: 0 7.5px;
}

.task-option-delete{
  margin: 0 7.5px;
  color: #000;
}

